.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.page-header {
  padding: 6px 16px;
  height: 60px;
  color: #fff;
  background: #0f3661;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1020;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header .logo img {
  min-width: 35px;
  height: 50px;
  display: block;
}
.navbar-nav {
  display: flex;
}
.nav-link {
  padding: 0 25px 0px 30px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: #fff;
  text-decoration: none;
}
.nav-link.active {
  background-color: #86bc42;
}
.page-main {
  padding: 48px 16px 16px;
  min-height: calc(100vh -  120px);
}
.content {
  text-align: center;
}
.content img {
  height: 300px;
}
.page-footer {
  background-color: #0f3661;
  height: 65px;
}
.page-footer p {
  color: #dce2e8;
  font-size: 12px;
  text-align: center;
}
